{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} {{ parent() }} :: Работы {% endblock %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block main %}

<div class="container">
    <!-- NEWS -->
    <div class="row">
        <div class="col-md-12">

            <div class="gdp-header-row gdp-border">
                <div class="gdp-header-row-body gdp-js-center">
                    <img src="{{ asset("upd/img/icon-w.png") }}" />
                    <span>Работы участников</span>

                    <select class="gdp-border" onchange="location = this.options[this.selectedIndex].value;">
                        {% for p in parties %}
                        <option value="{{ path('geek_browse', { party: p.id }) }}" {% if party.id == p.id %}selected="selected"{% endif %}>
                            {{ p.id | upper }}
                        </option>
                        {% endfor %}
                    </select>

                    {% if is_admin() %}
                        <a class="gdp-admin" href="{{ path('admin_parties', { 'action': 'edit', 'id': party.id }) }}">[править]</a>
                    {% endif %}
                </div>
            </div>

            <div id="gdp-party-info">
                <div class="gdp-party-info-sep"></div>
                <p id="gdp-party-name">{{ party.name }}</p>
                <p id="gdp-party-amount">{{ get_party_theme(party) }}</p>
                <p id="gdp-party-time">Начало: <span>{{ format_date(party.startTime) }}</span> / Конец: <span>{{ format_date(party.endTime) }}</span></p>
                <p id="gdp-party-amount">Работ: <span>{{ works|length }}</span></p>
                <div class="gdp-party-info-sep"></div>
            </div>

            <div class="gdp-raw">
                {% if text.body is not null %}
                    {{ text.body|raw }}
                {% endif %}
                {{ party.description|raw }}
            </div>

            {% include 'GeekPartyBundle::_projects/list.html.twig' with {'projects': works, 'show_rating': true} %}
            {% include 'GeekPartyBundle::_comments/include_links.html.twig' %}
        </div>
    </div>
</div>

{% endblock %}
