{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} GeekParty :: Работы {% endblock %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block main %}
    <div id="content">
        <div id="partySwitcher">
            <h2>Работы участников</h2>
            <div id="partyNavigation">
                <ul>
                    {% for p in parties %}
                        {% if party == p %}
                            <li><span class="currentParty">{{ p.id | upper }}</span></li>
                        {% else %}
                            <li><a href="{{ path('geek_browse', { party: p.id }) }}">{{ p.id | upper }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="PullRight">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ macros.button('Добавить работу', path('project_new')) }}
                {% else %}
                    {{ macros.button('Войти', url("hwi_oauth_service_redirect", {service: "facebook"})) }}
                {% endif %}
            </div>
        </div>
        {% include 'GeekPartyBundle::works.html.twig' with {'works': works} %}
    </div> <!-- content -->
    <!-- DISQUS -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'geekparty'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <!-- DISQUS END -->
{% endblock %}
