{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} :: {{ work.name }} {% endblock %}

{% block main %}

    <h2><a href="{{ path('geek_browse', { party: work.party.id }) }}">{{ work.party }}</a>&nbsp;&nbsp;/&nbsp;&nbsp;{{ work.name }}</h2>

    <div class="borderBlock">
        {{ work.longDescription|purify }}

        {% if is_work_uploaded(work) %}
            {{ macros.play_button(work) }}
        {% else %}
            {{ macros.button('Not uploaded', '', 'GrayButton') }}
        {% endif %}

        {% if (work.author == current_user or is_granted('ROLE_ADMIN')) and current_user is not null %}
            <p><a href="{{ path('project_edit', {'id': work.id}) }}" class="Special">Редактировать</a></p>
        {% endif %}
        {% if work.party == current_party and current_party.projectVotingTime %}
            <div class="row">
                <div class="col-md-offset-1 col-md-10 k-entry-block">
                    <h3>Голосование за работу</h3>
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        Чтобы голосовать, вам нужно авторизоваться:
                        {{ macros.fb_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "facebook"})) }}
                        {{ macros.vk_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "vkontakte"})) }}
                    {% elseif work.author == current_user %}
                        <p class="k-red">Эй, за свою игру голосовать нельзя! Голосуй за другие игры</p>
                    {% else %}
                        <form action="{{ path('geek_vote') }}" method="POST" id="ProjectVoteForm">
                            <div>
                            <input type="hidden" name="id" value="{{ work.id }}"/>
                            <input type="hidden" name="vote" value="{{ vote is defined and vote ? vote.vote : 0 }}"/>
                            </div>

                            <div class="ProjectVote ActiveVoting">
                                <div class="ProjectStar">
                                    <div class="ProjectStarInner">&nbsp;</div>
                                </div>
                            </div>
                            <p class="k-red">Голосуйте за игру только если вы поиграли в нее!</p>
                            <p class="k-red">Проголосуйте за 5 игр, чтобы ваши голоса имели максимальный вес</p>
                            {{ macros.submit('Проголосовать', 'SubmitVoteButton') }}
                            {% if vote is defined and vote %}
                                <p class="">Вы уже голосовали за эту игру, но вы можете изменить свой голос</p>
                            {% endif %}
                            <p class="k-red" id="ChooseVote" style="display:none">Выберите оценку от 1 до 5 кирок, чтобы проголосовать</p>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="socialContainerGame">
            <div id="vk_like_game"></div>
            <script type="text/javascript">
                VK.Widgets.Like("vk_like_game", {
			type: "button",
			pageTitle: "{{ work.name }}",
			pageDescription: "Игра {{ work.name }} на {{ work.party.name }}",
			pageImage: "http://gamedevparty.ru/works/{{ work.party.id|url_encode }}/{{ work.id }}_icon.png",
			text: "Игра {{ work.name }} на {{ work.party.name }}"
		}, {{ work.id }}00 );
            </script>
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
            <div class="socialTwitterButton">
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" data-hashtags="gamedevparty" data-text="Игра на GameDevParty — {{ work.name }}">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>

        <div style="clear:both;"></div>
        {% include 'GeekPartyBundle::_comments/include_comments.html.twig' %}
    </div>

{% endblock %}
