{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}
{% import 'GeekPartyBundle::_comments/macros.html.twig' as comments_macros %}
{% import 'GeekPartyBundle::_projects/macros.html.twig' as projects_macros %}

{% block title %} {{ parent() }} :: {{ work.name }} {% endblock %}

{% block main %}

<div class="container">
    <!-- NEWS -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="gdp-header-row gdp-border">
                <div class="gdp-header-row-body">
                    <img src="{{ asset("upd/img/icon-w.png") }}" />
                    <span><a href="{{ path('geek_browse', { party: work.party.id }) }}">Работы участников | {{ work.party }}</a></span>
                </div>
            </div>


            <div id="gdp-party-info">
                <div class="gdp-party-info-sep"></div>
                <p id="gdp-party-name">{{ work.name }}</p>
                {# keereal - имя автора и дату сюда #}
                {#<p class="gdp-entry-subtitle">by Игорёк Рагнарёк @2015-02-06 21:03:20</p>#}

                {{ projects_macros.rating(work) }}

                <p>
                    {% if is_work_uploaded(work) %}
                        <a href="{{ macros.play_link(work) }}" class="gdp-pixel-link">Play!</a>
                    {% else %}
                        <a href="#" class="gdp-pixel-link">Not uploaded</a>
                    {% endif %}
                </p>
            </div>


            <div class="gdp-entry-content">
                <p>{{ work.longDescription|purify|raw }}</p>

                <div class="socialContainerGame">
                    <div id="vk_like_game"></div>
                    <script type="text/javascript">
                        VK.Widgets.Like("vk_like_game", {type:"button",pageImage:"http://gamedevparty.ru/img/logo.png",text:"Игра на GameDevParty — {{ work.name }}"});
                    </script>
                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
                    <div class="socialTwitterButton">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" data-hashtags="gamedevparty" data-text="Игра на GameDevParty — {{ work.name }}">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>


                <div class="gdp-entry-footer pull-right">
                    {% if (work.author == current_user or is_granted('ROLE_ADMIN')) and current_user is not null %}
                        <p><a href="{{ path('project_edit', {'id': work.id}) }}" class="gdp-admin">[редактировать]</a></p>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>

            {% if work.party == current_party and current_party.projectVotingTime %}
                <div class="mt26">
                    <div class="gdp-comment-entry gdp-border">
                        <div class="gdp-entry-content">
                            <h4>Голосование за работу</h4>

                            {# TODO: auth macro #}
                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                <p class="gdp-login-warning"> Чтобы голосовать, вам нужно авторизоваться:
                                    &nbsp;
                                    {{ macros.auth_buttons() }}
                                </p>
                            {% elseif work.author == current_user %}
                                <p class="gdp-red">Эй, за свою игру голосовать нельзя! Голосуй за другие игры</p>
                            {% elseif not is_work_uploaded(work) %}
                                <p class="gdp-red">Работа не была загружена на сайт и не участвует в голосовании</p>
                            {% else %}
                                {% set v = vote is defined and vote ? vote.vote : 0 %}
                                <div id="ProjectVoteForm"
                                        data-id="{{ work.id }}"
                                        data-vote="{{ v }}"
                                    >
                                    <div class="gdp-rating">
                                        <div class="gdp-rating-back">
                                        <div class="gdp-rating-front"
                                                style="width: {{ 23.6 * v }}px" title="{{ v }}"></div>
                                        </div>
                                        <span class="VoteValue">{{ v|round(1)|number_format(1) }}</span>
                                    </div>

                                    <div class="Loading"><img src="{{ asset('img/l.gif') }}"/></div>
                                    <p class="SavedMessage">Сохранено!</p>
                                    <div class="Clear"></div>
                                    <p class="gdp-red" id="ErrorMessage" style="display:none">Ошибка!</p>
                                    <p class="gdp-red">Голосуйте за игру только если вы поиграли в нее!</p>
                                    <p class="gdp-red">Проголосуйте за 5 игр, чтобы ваши голоса имели максимальный вес</p>
                                    {% if vote is defined and vote %}
                                        <p>Вы уже голосовали за эту игру, но вы можете изменить свой голос</p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}


            <div class="mt26">
                {{ comments_macros.addComment('project', work.id) }}
                {% include 'GeekPartyBundle::_comments/include_comments.html.twig' with comments %}
            </div>

        </div>
    </div>
</div>

{% endblock %}
