{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block title %} GeekParty :: {{ work.name }} {% endblock %}

{% block main %}

    <h2><a href="{{ path('geek_browse', { party: party }) }}">{{ party }}</a>&nbsp;&nbsp;/&nbsp;&nbsp;{{ work.name }}</h2>

    <div class="borderBlock">
        {{ work.longDescription|purify }}

        {% if is_work_uploaded(work) %}
            {{ macros.play_button(work) }}
        {% else %}
            {{ macros.button('Not uploaded', '', 'GrayButton') }}
        {% endif %}

        {% if (work.author == current_user or is_granted('ROLE_ADMIN')) and current_user is not null %}
            <p><a href="{{ path('project_edit', {'id': work.id}) }}" class="Special">Редактировать</a></p>
        {% endif %}

        <div class="socialContainerGame">
            <div id="vk_like_game"></div>
            <script type="text/javascript">
                VK.Widgets.Like("vk_like_game", {type:"button",pageImage:"http://geekparty.su/img/logo.png",text:"Игра на Гик-пати — {{ work.name }}"});
            </script>
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
            <div class="socialTwitterButton">
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" data-hashtags="geekpartyru" data-text="Игра на Гик-пати — {{ work.name }}">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>

        <div style="clear:both;"></div>
        {% import 'GeekPartyBundle::disqus_comments.html.twig' %}
    </div>

{% endblock %}