<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>GeekParty Under Construction</title>
    <meta name="keywords" content="geekparty" />
    <meta name="description" content="Гик-пати — это цифровое творчество в режиме реального времени" />
    <meta name="vk:app_id" content="3561840" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ asset("js/countdown.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bootstrap/js/bootstrap.js") }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset("css/__style.css") }}" media="screen"/>

	<link rel="stylesheet" type="text/css" href="{{ asset("bootstrap/css/bootstrap.css") }}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{{ asset("bootstrap/css/bootstrap-theme.css") }}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{{ asset("bootstrap/css/magic-bootstrap.css") }}" media="screen"/>

    <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{{ asset("css/disqusFix.css") }}" media="screen"/>

    <link rel="shortcut icon" href="{{ asset("favicon.ico") }}" />
</head>
<body>
	<div id="k-bg-gradient"></div>

	<div class="container">
        <div class="row k-header">

            <div id="k-left-shadow"></div>
            <div id="k-right-shadow"></div>

            <div id="k-logo-gp">
                <a href="/">
                    <img src="{{ asset('img/logo-gp.png') }}" alt="GeekParty" />
                </a>
            </div>
            <div id="k-logo-nc">
                <a href="http://nextcastle.ru/" target="_blank">
                    <img src="{{ asset('img/logo-nc2.png') }}" alt="NextCastle" />
                </a>
            </div>
        </div>
        <div class="row k-menu">
            <div class="col-md-4 col-sm-4 col-xs-3"></div>
            <div class="col-md-8 col-sm-8 col-xs-8">
            </div>
        </div>

        <h1>Under construction</h1>

        <div class="row" id="k-footer">
            <p class="text-right">GEEK PARTY (c) 2014 | geekparty.ru@gmail.com</p>
            <div></div>
        </div>
    </div>
    <div id="vk_api_transport"></div>

    <script type="text/javascript" src="{{ asset("js/k-script.js") }}"></script>
</body>
</html>
