{% import 'GeekPartyBundle::_projects/macros.html.twig' as macros_project %}

{% for comment in entities %}
    {% set userPage = comment.author ? path('geek_party_user_show', { id: comment.author.id }) : '' %}
    {% set userName = comment.author ? comment.author.fullname : comment.foreignAuthor %}

    <div class="gdp-comment-entry gdp-border">
        <div class="gdp-comment-header">
            <p class="gdp-comment-author"><a {% if comment.author %}href="{{ userPage }}"{% endif %}>{{ userName }}</a></p>
            <p class="gdp-comment-date">{{ comment.date|date("Y-m-d H:i:s") }}</p>
            <form method="POST" action="{{ path("geek_party_comment_remove") }}">
                <input type="hidden" name="id" value="{{ comment.id }}"/>
                {% if is_owner_or_admin(comment.author) and not comment.removed %}
                    <a
                            class="admin"
                            href="#"
                            onclick="if (confirm('Are you sure?')) { $(event.target).parents('form').submit() }">
                        [ удалить ]
                    </a>
                {% endif %}
            </form>
        </div>
            <div class="gdp-entry-content{% if comment.removed %} gdp-disabled{% endif %}">
                {% if comment.type == "article" %}
                    <a href="{{ path('article', {id: comment.article.id}) }}">Комментарий к новости "{{ comment.article.title }}"</a>
                {% else %}
                    <a href="{{ macros_project.project_url(comment.project) }}">Комментарий к проекту {{ comment.project.name }}</a>
                {% endif %}

                {% if comment.removed %}
                    <p>Комментарий удален</p>
                {% else %}
                    <div class="gdp-entry-content">
                        <p>{{ comment.text|purify }}</p>
                    </div>
                {% endif %}
            </div>
        <div class="clearfix"></div>
    </div>
{% endfor %}
{% include '@GeekParty/_comments/pagination.html.twig' %}
{% include 'GeekPartyBundle::_comments/disqus_comments.html.twig' %}
>>>>>>> master
