{% macro comments_link_text(comments) %}
    {% if comments|length > 0 %}
        Комментариев: {{ comments|length }}
    {% else %}
        Добавить комментарий
    {% endif %}
{% endmacro %}

{% macro articleMoreLink(entry) %}
    {% set url = app.request.schemeAndHttpHost ~ path('article', {'id': entry.id})  %}
    <a class="gdp-link-more" href="{{ url }}">Читать дальше</a>
{% endmacro %}


{% macro articleLink(entry) %}
    {% set url = app.request.schemeAndHttpHost ~ path('article', {'id': entry.id})  %}
    <a class="gdp-link-comments" href="{{ url }}">{{ _self.comments_link_text(entry.comments) }}</a>
{% endmacro %}





{% macro projectLink(entry) %}
    {% set url = path('geek_browse_work', { party: entry.party.id, work: entry.id })  %}
    <a class="CommentsLink" href="{{ url }}">{{ _self.comments_link_text(entry.comments) }}</a>
{% endmacro %}

{% macro addComment(type, id) %}
    {% import 'GeekPartyBundle::macros.html.twig' as macros %}

    {% set userAvatarPath = '/bundles/geekparty/img/avatar.png' %}

    <div class="gdp-comment-entry gdp-border">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="gdp-entry-content">
                <p class="gdp-login-warning">Чтобы оставить комментарий, вам нужно авторизоваться:
                    &nbsp;
                    {{ macros.auth_buttons() }}
                </p>
            </div>
        {% else %}
            <div class="gdp-entry-content">
                <p><span>Добавить комментарий</span></p>

                <div class="CommentText">
                    <form class="Form" method="post" action="{{ path('geek_party_comment_' ~ type) }}">
                        <input type="hidden" name="{{ type }}_id" value="{{ id }}"/>
                        <textarea name="text" class="tinymce" data-theme="comment"></textarea>
                        {{ macros.submit('Добавить') }}
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        {% endif %}
    </div>

    {{ tinymce_init() }}
{% endmacro %}