{% import 'GeekPartyBundle::_comments/macros.html.twig' as comments %}

{% set entryPage = path('article', {'id':entity.id}) %}

<div class="">
    <div class="gdp-news-header">
        <p class="gdp-entry-title">
            <a href="{{ entryPage }}">{{ entity.title }}</a>&nbsp;
            {% if is_owner_or_admin(entity.author) %}
                {{ macros.button("Править", path('_edit_article', {'action':'edit', 'id':entity.id}), "k-red gdp-small") }}
            {% endif %}
        </p>
        <p class="gdp-entry-subtitle">
            {% set userPage = entity.author ? path('geek_party_user_show', { id: entity.author.id }) : '' %}
            {% set userName = entity.author ? entity.author.fullname : 'UFO' %}
            by <a {% if entity.author %}href="{{ userPage }}"{% endif %}>{{ userName }}</a>
            @{{ entity.time|date("Y-m-d H:i:s") }}
        </p>
    </div>

    <div class="gdp-entry-content">
        {{ entity.body|purify }}
    </div>

    <div class="clearfix"></div>
    {% if article_links is defined %}
        <div class="gdp-entry-footer pull-right">
            <a href="{{ entryPage }}" class="gdp-link-more">Читать дальше</a>
            <a href="{{ entryPage }}#comments" class="gdp-link-comments">Комментарии ({{ entity.comments|length }})</a>
        </div>
    {% endif %}
    <div class="clearfix"></div>
</div>



