{% import 'GeekPartyBundle::_comments/macros.html.twig' as comments %}

{% set entryPage = path('article', {'id':entity.id}) %}

<div class="gdp-news-row">
    <div class="gdp-news-row-header">
        <h3>
            {{ entity.title }}&nbsp;
            {% if is_owner_or_admin(entity.author) %}
                <a class="gdp-admin" href="{{ path('_edit_article', {'action':'edit', 'id':entity.id}) }}">[править]</a>
            {% endif %}
        </h3>
        <h6>by {{ entity.author.fullname }} @{{ entity.time|date("Y-m-d H:i:s") }}</h6>
    </div>

    {{ entity.body|purify }}

{% if entity.poll is not null %}
    {% set didntVote = app.request.cookies.get('prism_poll_' ~ entity.poll.id) is null %}
    <div class="Clear">
        <form action="{{ path('_edit_article', {'action':'vote'}) }}" method="POST" role="form">
            <input type="hidden" name="poll" value="{{ entity.poll.id }}"/>
            <h4>{{ entity.poll.name }}</h4>

            {% for opinion in entity.poll.opinions %}
                <div class="checkbox">
                    <label>
                        <input name="opinion[{{ opinion.id }}]" type="checkbox" {% if not didntVote %}disabled="disabled"{% endif %}/>
                        {{ opinion.name }}
                    </label>
                </div>
            {% endfor %}

            <div>
                <p>Проголосовало: {{ entity.poll.votes }}
                    {% transchoice entity.poll.votes %}человек|человека|человек{% endtranschoice %}</p>
            </div>


            {% if didntVote %}
                {{ macros.submit('Проголосовать') }}
            {% else %}
                Вы уже принимали участие в этом голосовании
            {% endif %}
            <br/>
            <br/>
        </form>
    </div>
{% endif %}

    <div class="gdp-news-raw-footer">

        {#<a class="link-more text-right" href="#">Читать дальше</a>#}
        {#<a class="link-comments text-right" href="{{ app.request.schemeAndHttpHost }}{{ entryPage }}#disqus_thread">Комментарии</a>#}
        {{ comments.articleMoreLink(entity) }}
        {{ comments.articleLink(entity) }}
    </div>
</div>