{% if current_party is not defined %}
    {% set current_party = get_current_party() %}
{% endif %}
{% if now is not defined %}
    {% set now = "now"|date('Y-m-d H:i:s') %}
{% endif %}

{% set submissionStartTime = current_party.themeSubmissionStartTime|date('Y-m-d H:i:s') %}
{% set submissionEndTime = current_party.themeSubmissionEndTime|date('Y-m-d H:i:s') %}
{% set votingStartTime = current_party.themeVotingStartTime|date('Y-m-d H:i:s') %}
{% set votingEndTime = current_party.themeVotingEndTime|date('Y-m-d H:i:s') %}
{% set startTime = current_party.startTime|date('Y-m-d H:i:s') %}
{% set endTime = current_party.endTime|date('Y-m-d H:i:s') %}
{% set projectVotingStartTime = current_party.projectVotingStartTime|date('Y-m-d H:i:s') %}
{% set projectVotingEndTime = current_party.projectVotingEndTime|date('Y-m-d H:i:s') %}

{% if projectVotingEndTime < now %}
    {% set message = current_party.name ~ " состоялось!" %}
    {% set belowMessage = "<a href='" ~ path("geek_browse", {party: current_party.id}) ~ "'>Результаты голосования</a>" %}

{% elseif submissionStartTime > now %}
    {% set aboveMessage = "Сбор тем для " ~ current_party.name ~ " начнется через:" %}
    {% set targetDate = submissionStartTime %}

{% elseif submissionEndTime > now %}
    {% set aboveMessage = "Сбор тем для " ~ current_party.name ~ " закончится через:" %}
    {% set targetDate = submissionEndTime %}
    {% set belowMessage = "<a href='" ~ path("themes_index") ~ "'>Добавить тему</a>" %}

{% elseif votingStartTime > now %}
    {% set aboveMessage = "Голосование за тему для " ~ current_party.name ~ " начнется через:" %}
    {% set targetDate = votingStartTime %}

{% elseif votingEndTime > now %}
    {% set aboveMessage = "Голосование за тему для " ~ current_party.name ~ " закончится через:" %}
    {% set targetDate = votingEndTime %}
    {% set belowMessage = "<a href='" ~ path("themes_votes") ~ "'>Голосовать</a>" %}

{% elseif startTime > now %}
    {% set aboveMessage = current_party.name ~ " начнется через:" %}
    {% set targetDate = startTime %}

{% elseif endTime > now %}
    {% set aboveMessage = current_party.name ~ " закончится через:" %}
    {% set targetDate = endTime %}
    {% set belowMessage = "<a href='" ~ path("project") ~ "'>Добавить работу</a>" %}

{% elseif projectVotingStartTime > now %}
    {% set aboveMessage = "Голосование за работы " ~ current_party.name ~ " начнется через:" %}
    {% set targetDate = projectVotingStartTime %}

{% elseif projectVotingEndTime > now %}
    {% set aboveMessage = "Голосование за работы " ~ current_party.name ~ " закончится через:" %}
    {% set targetDate = projectVotingEndTime %}
    {% set belowMessage = "<a href='" ~ path("geek_browse") ~ "'>Голосовать</a>" %}

{% endif %}

<script type="text/javascript">
    window.serverNow = "{{ now }}";
</script>

{% if message is defined %}
    <div id="gdp-header-state-ended">
        <div id="gdp-header-state-body">
            <p>{{  message }}</p>
            {% if if belowMessage is defined %}
                {{ belowMessage }}
            {% endif %}
        </div>
    </div>
{% else %}
    <div id="gdp-header-state-timer">
        <div id="gdp-header-state-body">
            <p><span>{{ aboveMessage }}</span></p>
            <div id="gdp-header-timer">

                <script type="text/javascript">
                    window.targetDate = "{{ targetDate }}";
                </script>

                <p id="big-timer">00:00:00</p>
                <span id="gdp-day">дней</span>
                <span id="gdp-hour">часов</span>
                <span id="gdp-minute">минут</span>
            </div>
            {% if belowMessage is defined %}
                <a href="#">{{ belowMessage }}</a>
            {%  endif %}
        </div>
    </div>
{% endif %}
