{% macro simple_button(text, link, class) %}
    <a href="{{ link|default('javascript:void(0)') }}">{{ text }}</a>
{% endmacro %}


{% macro fb_simple_button(text, link, class) %}
    <a href="{{ link|default('javascript:void(0)') }}">
        <img src="/img/fb.png" alt="fb" />
    </a>
{% endmacro %}

{% macro vk_simple_button(text, link, class) %}
    <a href="{{ link|default('javascript:void(0)') }}">
        <img src="/img/vk.png" alt="vk" />
    </a>
{% endmacro %}


{% macro button(text, link, class) %}
    {% embed 'GeekPartyBundle::button.html.twig' %}
        {% block content %}
            <a href="{{ link|default('javascript:void(0)') }}" class="{{ class }}">{{ text }}</a>
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro fb_button(text, link, class) %}
    {% embed 'GeekPartyBundle::button.html.twig' %}
        {% block content %}
            <a href="{{ link|default('javascript:void(0)') }}"><img src="/img/fb.png"/>{{ text }}</a>
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro vk_button(text, link, class) %}
    {% embed 'GeekPartyBundle::button.html.twig' %}
        {% block content %}
            <a href="{{ link|default('javascript:void(0)') }}"><img src="/img/vk.png"/>{{ text }}</a>
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro submit(text, class) %}
    {% embed 'GeekPartyBundle::button.html.twig' %}
        {% block content %}
            <button type="submit" class="{{ class }}">{{ text }}</button>
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro play_button(work) %}
    {% set class = '' %}
    {% embed 'GeekPartyBundle::button.html.twig' %}
        {% block content %}
            <a target="_blank" href="{{ '/works/' ~ (work.party.id|url_encode) ~ '/' ~ work.id ~ '/index.html' }}">Play</a>
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro auth_buttons() %}
    {{ _self.fb_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "facebook"})) }}
    {{ _self.vk_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "vkontakte"})) }}
{% endmacro %}