{% macro simple_button(text, link, class) %}
    <a class="gdp-admin" href="{{ link|default('javascript:void(0)') }}">{{ text }}</a>
{% endmacro %}


{% macro fb_simple_button(text, link, class) %}
    <a href="{{ link|default('javascript:void(0)') }}">
        {% image '@GeekPartyBundle/Resources/public/img/icon-fb.png' %}
            <img src="{{ asset_url }}" alt="Facebook" />
        {% endimage %}
    </a>
{% endmacro %}

{% macro vk_simple_button(text, link, class) %}
    <a href="{{ link|default('javascript:void(0)') }}">
        {% image '@GeekPartyBundle/Resources/public/img/icon-vk.png' %}
            <img src="{{ asset_url }}" alt="Vkontakte" />
        {% endimage %}
    </a>
{% endmacro %}


{% macro button(text, link, class) %}
    <a href="{{ link|default('javascript:void(0)') }}" class="gdp-pixel-link {{ class }}">{{ text }}</a>
{% endmacro %}

{% macro btn(text, class) %}
    <button class="gdp-pixel-link {{ class }}">{{ text }}</button>
{% endmacro %}

{% macro fb_button(text, link, class) %}
    {% embed 'GeekPartyBundle::button.html.twig' %}
        {% block content %}
            <a href="{{ link|default('javascript:void(0)') }}">
                {% image '@GeekPartyBundle/Resources/public/img/icon-fb.png' %}
                    <img src="{{ asset_url }}" alt="Facebook" />
                {% endimage %}
                {{ text }}
            </a>
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro vk_button(text, link, class) %}
    {% embed 'GeekPartyBundle::button.html.twig' %}
        {% block content %}
            <a href="{{ link|default('javascript:void(0)') }}">
                {% image '@GeekPartyBundle/Resources/public/img/icon-vk.png' %}
                    <img src="{{ asset_url }}" alt="Vkontakte" />
                {% endimage %}
                {{ text }}
            </a>
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro submit(text, class) %}
    <button class="gdp-pixel-link {{ class }}">{{ text }}</button>
{% endmacro %}

{% macro play_link(work) %}
    {{ '/works/' ~ (work.party.id|url_encode) ~ '/' ~ work.id ~ '/index.html'}}
{% endmacro %}

{% macro play_button(work) %}
    {% set class = '' %}
    {% embed 'GeekPartyBundle::button.html.twig' %}
        {% block content %}
            <a target="_blank" href="{{ _self.play_link(work) }}">Play</a>
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro auth_buttons() %}
    {{ _self.fb_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "facebook"})) }}
    {{ _self.vk_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "vkontakte"})) }}
{% endmacro %}