<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %} GameDevParty {% endblock %}</title>
    <meta name="keywords" content="geekparty gamedevparty gamejam" />
    <meta name="description" content="GameDevParty — это цифровое творчество в режиме реального времени" />
    <meta name="vk:app_id" content="3561840" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ asset("js/countdown.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bootstrap/js/bootstrap.js") }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset("css/__style.css") }}" media="screen"/>

	<link rel="stylesheet" type="text/css" href="{{ asset("bootstrap/css/bootstrap.css") }}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{{ asset("bootstrap/css/bootstrap-theme.css") }}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{{ asset("bootstrap/css/magic-bootstrap.css") }}" media="screen"/>

    <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css?3") }}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{{ asset("css/disqusFix.css") }}" media="screen"/>

    <link rel="shortcut icon" href="{{ asset("favicon.ico") }}" />
</head>
<body>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '{{ fb_app_id }}',
                cookie     : true,
                xfbml      : true,
                status     : true,
                version    : 'v2.0'
            });
            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // This is called with the results from from FB.getLoginStatus().
          function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
              // Logged into your app and Facebook.
              testAPI();
            } else if (response.status === 'not_authorized') {
              // The person is logged into Facebook, but not your app.
              document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
            } else {
              // The person is not logged into Facebook, so we're not sure if
              // they are logged into this app or not.
              document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
            }
          }

          // This function is called when someone finishes with the Login
          // Button.  See the onlogin handler attached to it in the sample
          // code below.
          function checkLoginState() {
            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            });
          }

          // Here we run a very simple test of the Graph API after login is
          // successful.  See statusChangeCallback() for when this call is made.
          function testAPI() {
            FB.api('/me', function(response) {
              console.log('Successful login for: ' + response.name);
            });
          }
    </script>
    <script type="text/javascript" src="{{ asset("js/script.js") }}"></script>

	<div id="k-bg-gradient"></div>

	<div class="container">
        <div class="row k-header">

            <div id="k-left-shadow"></div>
            <div id="k-right-shadow"></div>

            <div id="k-logo-gp">
                <a href="/">
                    <img class="HeaderLogo" src="{{ asset('img/logo_site01.png') }}" alt="GameDevParty" />
                </a>
            </div>
            {#
            <div id="k-logo-nc">
                <a href="http://nextcastle.ru/" target="_blank">
                    <img src="{{ asset('img/logo-nc2.png') }}" alt="NextCastle" />
                </a>
            </div>
            #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                <div id="k-menu-social">
                    {{ macros.fb_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "facebook"})) }}
                    {{ macros.vk_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "vkontakte"})) }}
                </div>
            {% endif %}

            {% include "GeekPartyBundle::heading.html.twig" %}

        </div>
        <div class="row k-menu">
            <div class="col-md-4 col-sm-4 col-xs-3"></div>
            {% set current_route = app.request.attributes.get('_route') %}
            {% set menu = {
                'geek_index': 'Main',
                'geek_about': 'About',
                'geek_browse': 'Works'
                } %}

            <div class="col-md-8 col-sm-8 col-xs-8">
                {% for route, page in menu %}
                    <a href="{{ path(route) }}" class="k-button mr16 {% if route == current_route %}k-button-active{% endif %}">
                        <span>{{page}}</span>
                    </a>
                {% endfor %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('project') }}" class="k-button mr16 {% if '/edit' in app.request.requestUri %}k-button-active{% endif %}">
                        <span>Upload</span>
                    </a>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}" class="k-button mr16 {% if '/admin' in app.request.requestUri %}k-button-active{% endif %}">
                        <span>Admin</span>
                    </a>
                {% endif %}
            </div>
        </div>

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="error-message">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="info-message">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% block main %} {% endblock %}

        <div class="row" id="k-footer">
            <p class="text-right">GameDevParty (c) {{ "now"|date("Y") }} | {{ admin_email }}</p>
            <div></div>
        </div>
    </div>
    <div id="vk_api_transport"></div>

    <script type="text/javascript" src="{{ asset("js/k-script.js") }}"></script>
    {% if current_party is defined and current_party.projectVotingTime %}
        <script type="text/javascript" src="{{ asset("js/voting.js?2") }}"></script>
    {% endif %}
</body>
</html>
