{% import 'GeekPartyBundle::macros.html.twig' as macros %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %} GameDevParty {% endblock %}</title>
    <meta name="keywords" content="geekparty gamedevparty gamejam" />
    <meta name="description" content="GameDevParty — это цифровое творчество в режиме реального времени" />
    <meta name="vk:app_id" content="{{ vk_app_id }}" />
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

    {% block stylesheets %}
        {% stylesheets '@GeekPartyBundle/Resources/public/css/*' filter='css_url_rewrite' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset("favicon.ico") }}" />
</head>
<body>
    <div class="container">
        <!-- HEADER -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div id="gdp-header">
                    <div id="gdp-header-logo">
                        <a href="/">
                            {% image '@GeekPartyBundle/Resources/public/img/site-logo.png' %}
                                <img src="{{ asset_url }}" alt="GameDevPart.Ru" />
                            {% endimage %}
                        </a>
                    </div>

                    {% include "GeekPartyBundle::heading.html.twig" %}

                    <div id="gdp-header-message">
                        <p id="gdp-animated-text"></p>
                    </div>

                    <form id="gdp-login">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                            <div id="gdp-options">
                                    {{ macros.auth_buttons() }}
                            </div>
                        {% else %}
                            <a class="gdp-exit" href="{{ path('fos_user_security_logout') }}">
                                <span class="glyphicon glyphicon-keys-{% if is_admin() %}red{% else %}white{% endif %}">&nbsp;</span>
                                &nbsp;[выйти]
                            </a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div> <!-- HEADER -->

        <!-- MENU -->
        <div class="row">
            <div class="col-md-12">
                <div id="gdp-menu">
                    {% set current_route = app.request.attributes.get('_route') %}
                    {% set menu = {
                        'geek_index': 'Main',
                        'geek_about': 'About',
                        'geek_browse': 'Works'
                    } %}
                    <div id="gdp-menu-buttons">
                        {% for route, page in menu %}
                            <a href="{{ path(route) }}" class="gdp-menu-button {% if route == current_route %}gdp-menu-button-active{% endif %}">
                                <span>{{page}}</span>
                            </a>
                        {% endfor %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('project') }}" class="gdp-menu-button {% if '/edit/project' in app.request.requestUri %}gdp-menu-button-active{% endif %}">
                                <span>Upload</span>
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('geek_party_admin_index') }}" class="gdp-menu-button {% if '/admin' in app.request.requestUri %}gdp-menu-button-active{% endif %}">
                                <span>Admin</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div> <!-- MENU -->
    </div>

    {% for tag, lines in app.session.flashbag.all %}
        {% for flashMessage in lines %}
            <div class="{{ tag }}-message">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block main %} {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="gdp-footer">
                    <span>GameDevParty (c) 2015</span>
                </div>
            </div>
        </div>
    </div>

    <div id="vk_api_transport"></div>
    <div id="fb_root"></div>
    {% block javascripts %}
        <script type="text/javascript">
            var saveVoteUrl = '{{ path("geek_vote") }}';
            var fbApiId = '{{ fb_app_id }}';
            VK.init({apiId: {{ vk_app_id }}, onlyWidgets: true});
        </script>
        {% javascripts
            '@GeekPartyBundle/Resources/public/js/vendor/jquery.min.js'
            '@GeekPartyBundle/Resources/public/js/vendor/bootstrap.min.js'
            '@GeekPartyBundle/Resources/public/js/*.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>
