{% import 'GeekPartyBundle::macros.html.twig' as macros %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %} GameDevParty {% endblock %}</title>
    <meta name="keywords" content="geekparty gamedevparty gamejam" />
    <meta name="description" content="GameDevParty — это цифровое творчество в режиме реального времени" />
    <meta name="vk:app_id" content="3561840" />
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
    <script type="text/javascript"> VK.init({apiId: 3561840, onlyWidgets: true}); </script>

    <link rel="stylesheet" type="text/css" href="{{  asset("upd/bower_components/bootstrap/dist/css/bootstrap.css") }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{  asset("upd/bower_components/bootstrap/dist/css/bootstrap-theme.css") }}" media="screen"/>

    <link rel="stylesheet" type="text/css" href="{{ asset("upd/css/main.css") }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("upd/css/style.css") }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("upd/css/header.css") }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("upd/css/forms.css") }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("upd/css/menu.css") }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("upd/css/main-info.css") }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("upd/css/news.css") }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("upd/css/footer.css") }}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("upd/css/works.css") }}" media="screen"/>

    <script type="text/javascript" src="{{ asset("upd/bower_components/jquery/dist/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ asset("upd/bower_components/bootstrap/dist/js/bootstrap.js") }}"></script>

    <link rel="shortcut icon" href="{{ asset("favicon.ico") }}" />

    <script type="text/javascript" src="{{ asset("js/script.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/countdown.js") }}"></script>
</head>
<body>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '{{ fb_app_id }}',
                cookie     : true,
                xfbml      : true,
                status     : true,
                version    : 'v2.0'
            });
            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // This is called with the results from from FB.getLoginStatus().
          function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
              // Logged into your app and Facebook.
              testAPI();
            } else if (response.status === 'not_authorized') {
              // The person is logged into Facebook, but not your app.
              document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
            } else {
              // The person is not logged into Facebook, so we're not sure if
              // they are logged into this app or not.
              document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
            }
          }

          // This function is called when someone finishes with the Login
          // Button.  See the onlogin handler attached to it in the sample
          // code below.
          function checkLoginState() {
            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            });
          }

          // Here we run a very simple test of the Graph API after login is
          // successful.  See statusChangeCallback() for when this call is made.
          function testAPI() {
            FB.api('/me', function(response) {
              console.log('Successful login for: ' + response.name);
            });
          }
    </script>
    <script type="text/javascript" src="{{ asset("js/script.js") }}"></script>


    <div class="container">
        <!-- HEADER -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div id="gdp-header">
                    <div id="gdp-header-logo">
                        <a href="/">
                            <img src="{{ asset("upd/img/site-logo.png") }}" alt="GameDevPart.ru"/>
                        </a>
                    </div>


                    {% include "GeekPartyBundle::heading.html.twig" %}

                    <div id="gdp-header-message">
                        <p id="gdp-animated-text"></p>
                    </div>



                    <form id="gdp-login">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                            <div id="gdp-options">
                                    {{ macros.auth_buttons() }}
                            </div>
                        {% else %}
                            <a class="gdp-exit" href="{{ path('fos_user_security_logout') }}">
                                <span class="glyphicon glyphicon-keys-{% if is_admin() %}red{% else %}white{% endif %}">&nbsp;</span>
                                &nbsp;[выйти]
                            </a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div> <!-- HEADER -->

        <!-- MENU -->
        <div class="row">
            <div class="col-md-12">
                <div id="gdp-menu">
                    {% set current_route = app.request.attributes.get('_route') %}
                    {% set menu = {
                        'geek_index': 'Main',
                        'geek_about': 'About',
                        'geek_browse': 'Works'
                    } %}
                    <div id="gdp-menu-buttons">
                        {% for route, page in menu %}
                            <a href="{{ path(route) }}" class="gdp-menu-button {% if route == current_route %}gdp-menu-button-active{% endif %}">
                                <span>{{page}}</span>
                            </a>
                        {% endfor %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('project') }}" class="gdp-menu-button {% if '/edit/project' in app.request.requestUri %}gdp-menu-button-active{% endif %}">
                                <span>Upload</span>
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('geek_party_admin_index') }}" class="gdp-menu-button {% if '/admin' in app.request.requestUri %}gdp-menu-button-active{% endif %}">
                                <span>Admin</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div> <!-- MENU -->
    </div>

    {% for tag, lines in app.session.flashbag.all %}
        {% for flashMessage in lines %}
            <div class="{{ tag }}-message">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endfor %}


    {% block main %} {% endblock %}


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="gdp-footer">
                    <span>GameDevParty (c) 2015</span>
                </div>
            </div>
        </div>
    </div>



    <div id="vk_api_transport"></div>
    <script type="text/javascript" src="{{ asset("js/k-script.js") }}"></script>
    <script type="text/javascript" src="{{ asset("upd/js/main.js") }}"></script>
    {% if current_party|default and current_party.projectVotingTime %}
        <script type="application/javascript">
            var saveVoteUrl = '{{ path("geek_vote") }}';
        </script>
        <script type="text/javascript" src="{{ asset("js/voting.js?2") }}"></script>
    {% endif %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62372971-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
