{% import 'GeekPartyBundle::macros.html.twig' as macros %}

<div class="row">
    {% for entry in works %}
        {% set partyId = entry.party is not null ? entry.party.id : null %}
        {% set entryPage = path('geek_browse_work', { party: partyId, work: entry.id }) %}


        {% if loop.index0 % 2 == 0 %}
            <div class="col-md-6">
                <div class="row k-entry-block">
                    <h4>&nbsp;&nbsp;&nbsp;<a href="{{ entryPage }}">{{ entry.name }}</a></h4>
                    <div class="col-md-4">
                        <a href="{{ entryPage }}" class="k-img-link">
                            <img
                                    style="width:120px;height:110px;"
                                    src="/works/{{ partyId }}/{{ entry.id }}_icon.png" alt="..."
                                    class="img-rounded k-img-border">
                            <span class="k-img-play"></span>
                        </a>
                    </div>

                    <div class="col-md-8">
                        <p>{{ entry.description }}.</p>
                        <a href="{{ entryPage }}">Подробнее</a>
                        {% if (entry.author == current_user or is_granted('ROLE_ADMIN')) and current_user is not null %}
                            <a href="{{ path('project_edit', {'id': entry.id}) }}" class="Special">Редактировать</a>
                        {% endif %}

                        <a class="pull-right" href="{{ entryPage }}#disqus_thread"></a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-6">
                <div class="row k-entry-block">
                    <h4>&nbsp;&nbsp;&nbsp;<a href="{{ entryPage }}">{{ entry.name }}</a></h4>
                    <div class="col-md-4">
                        <a href="{{ entryPage }}" class="k-img-link">
                            <img
                                    style="width:120px;height:110px;"
                                    src="/works/{{ partyId }}/{{ entry.id }}_icon.png" alt="..."
                                    class="img-rounded k-img-border">
                            <span class="k-img-play"></span>
                        </a>
                    </div>

                    <div class="col-md-8">
                        <p>{{ entry.description }}.</p>
                        <a href="{{ entryPage }}">Подробнее</a>
                        {% if (entry.author == current_user or is_granted('ROLE_ADMIN')) and current_user is not null %}
                            <a href="{{ path('project_edit', {'id': entry.id}) }}" class="Special">Редактировать</a>
                        {% endif %}

                        <a class="pull-right" href="{{ entryPage }}#disqus_thread"></a>
                    </div>
                </div>
            </div>
        {% endif %}

    {% else %}
        <h4>No works yet</h4>
    {% endfor %}

</div>



<div id="entries">
    {% for entry in works %}
        {% set partyId = entry.party is not null ? entry.party.id : null %}
        {% set entryPage = path('geek_browse_work', { party: partyId, work: entry.id }) %}
        <div class="entry">
            <div class="entryPadding borderBlock">
                <div class="entryLeftBar">
                    <a href="{{ entryPage }}">
                        <div style="width:120px;height:110px;background:url('/works/{{ partyId }}/{{ entry.id }}_icon.png') no-repeat"></div>
                    </a>
                    {% if is_work_uploaded(entry) %}
                        {{ macros.play_button(entry) }}
                    {% else %}
                        {{ macros.button('Not uploaded', '', 'GrayButton') }}
                    {% endif %}
                </div>
                <div class="entryRightBar">
                    <a href="{{ entryPage }}"><h2>{{ entry.name }}</h2></a>
                    <div class="entryDescription">
                        <p>{{ entry.description }}.</p>
                    </div>
                    <a href="{{ entryPage }}">Подробнее</a>
                    {% if (entry.author == current_user or is_granted('ROLE_ADMIN')) and current_user is not null %}
                        <a href="{{ path('project_edit', {'id': entry.id}) }}" class="Special">Редактировать</a>
                    {% endif %}
                </div>
                <!-- COMMENTS --> <a class="entryComments" href="{{ entryPage }}#disqus_thread"></a>
            </div>
        </div> <!-- entry -->
    {% else %}
        Работ пока нет
    {% endfor %}
</div> <!-- entries -->