{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} :: Редактирование новости {% endblock %}

{% block main %}
<div id="content">
    <p><a href="{{ path('geek_index') }}">&larr; назад к списку</a></p>
    <h2 class="inlineBlock">Редактирование новости</h2>

    <form id="teamEditorMain"
            action="{{ path('_edit_article', { 'action': 'update', 'id': entity.id }) }}"
            method="post" {{ form_enctype(edit_form) }}>

        <div id="rightBorder">
            <div class="teamEditorControlBlock">
                <h3>Заголовок</h3>
                <p class="inputLabel"></p>
                {{ form_widget(edit_form.title) }}
            </div>

            <div class="teamEditorControlBlock">
                <h3>Новость</h3>
                <p class="inputLabel"></p>
                {{ form_widget(edit_form.body) }}
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="teamEditorControlBlock">
                    <h3>Голосование</h3>
                    <p class="inputLabel"></p>
                    {{ form_widget(edit_form.poll) }}
                </div>
            {% endif %}
        </div>
        <p>
            {{ macros.submit("Сохранить") }}

            {% if delete_form is defined %}
                <div class="k-inline">
                    {{ form_widget(delete_form) }}
                </div>
                {{ macros.submit("Удалить", "k-red") }}
            {% endif %}
        </p>
    </form>
</div>

    {{ include('GeekPartyBundle::tinymce.html.twig') }}
{% endblock %}
