{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}
{% import 'GeekPartyBundle::PartyTheme/macros.html.twig' as theme_macros %}

{% block title %} GeekParty :: Темы для геймджема {% endblock %}

{% block main %}
    <div class="row">
       <div class="col-md-12">
           <h2>Темы для следующего геймджема {{ current_party }}</h2>
       </div>

        <div class="col-md-12 k-entry-block">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <form action="{{ path("themes_add") }}" method="POST" id="teamEditorMain" class="PartyThemeForm">
                    <input name="text" class="PartyThemeText"/>
                    {{ macros.submit('Добавить', 'PartyThemeSubmit') }}
                </form>
           {% else %}
               Чтобы добавить тему, вам нужно авторизоваться:
               {{ macros.fb_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "facebook"})) }}
               {{ macros.vk_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "vkontakte"})) }}
           {% endif %}
        </div>

       <div class="col-md-12">
           <ul>
               {% for t in themes %}
                   <li>
                       {{ theme_macros.theme(t) }}
                   </li>
               {% endfor %}
           </ul>
       </div>
   </div>
{% endblock %}
