{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block title %} GeekParty :: Голосование за тему для следующего геймджема {% endblock %}

{% block main %}
    <div class="row">
       <div class="col-md-12">
           <h2>Голосование за тему для следующего геймджема {{ current_party }}</h2>
       </div>

        <div class="col-md-12 k-entry-block">
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
               Чтобы голосовать, вам нужно авторизоваться:
               {{ macros.fb_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "facebook"})) }}
               {{ macros.vk_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "vkontakte"})) }}
           {% endif %}
        </div>
    </div>

    {% for t in themes %}
        <div class="row k-entry-block">
           <div class="col-md-6">
               {{ t.text }}
           </div>
            <div class="col-md-6">
                <form action="{{ path('themes_vote') }}" method="POST">
                    <input type="hidden" name="theme_id" value="{{ t.id }}"/>
                    {{ macros.submit('Голосовать') }}
                </form>
            </div>
        </div>
    {% endfor %}

{% endblock %}
