{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} GeekParty :: Редактирование пати {% endblock %}

{% block main %}

    <div class="PartyEdit">

        {% if entity.id %}
            {% set action = path('admin_parties', { 'action': 'update', 'id': entity.id }) %}
        {% else %}
            {% set action = path('admin_parties', { 'action': 'update' }) %}
        {% endif %}
        <form action="{{ action }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit">Edit</button>
            </p>
        </form>

        <ul class="record_actions">
            <li>
                <a href="{{ path('admin_parties') }}">
                    Back to the list
                </a>
            </li>
            {% if delete_form is defined %}
                <li>
                    <form action="{{ path('admin_parties', { 'action': 'delete', 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% endif %}
        </ul>

    </div>

{{ tinymce_init() }}
{% endblock %}
