{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} {{ parent() }} :: Список геймджемов {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">

            <div class="gdp-header-row gdp-border">
                <div class="gdp-header-row-body">
                    <img src="{{ asset("upd/img/icon-w.png") }}" />
                    <span><a href="{{ path('geek_party_admin_index') }}">Админка</a> | Геймджемы</span>
                </div>
            </div>

            <!-- List -->
            <div class="gdp-entry-content">

                <div class="row">
                    <div class="col-md-3"><p>Party</p></div>
                    <div class="col-md-3"><p>Start</p></div>
                    <div class="col-md-3"><p>End</p></div>
                    <div class="col-md-3"></div>
                </div>

                {% for entity in entities %}
                    <div class="row">
                        <div class="col-md-3"><p>{{ entity.id }}</p></div>
                        <div class="col-md-3"><p>{% if entity.startTime %}{{ entity.startTime|date('Y-m-d H:i') }}{% endif %}</p></div>
                        <div class="col-md-3"><p>{% if entity.endTime %}{{ entity.endTime|date('Y-m-d H:i') }}{% endif %}</div>
                        <div class="col-md-3">
                            <a class="gdp-admin" href="{{ path('admin_parties', { 'action': 'edit', 'id': entity.id }) }}">[Править]</a>
                            <a class="gdp-admin" href="{{ path('themes_index', { 'id': entity.id }) }}">[Темы]</a>
                        </div>
                    </div>
                {% endfor %}

            </div> <!-- List -->

            <div class="gdp-entry-content">
                {% import 'GeekPartyBundle::macros.html.twig' as macros %}
                <p>{{ macros.button("Создать", path('admin_parties', { 'action': 'edit' })) }}</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}
