{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} {{ parent() }} :: Список геймджемов {% endblock %}

{% block main %}
<p><a href="{{ path('geek_party_admin_index') }}">&larr; назад в админку</a></p>

<h1>Геймджемы</h1>
<div class="k-entry-block k-party-list">
    {% for entity in entities %}
    <div class="row">
        <div class="col-md-2"><p>{{ entity.id }}</p></div>
        <div class="col-md-3"><p><strong>{% if entity.startTime %}{{ entity.startTime|date('Y-m-d H:i') }}{% endif %}</strong></p></div>
        <div class="col-md-3"><p>{% if entity.endTime %}{{ entity.endTime|date('Y-m-d H:i') }}{% endif %}</p></div>
        <div class="col-md-4">
            <div class="k-button k-button-small">
                <div class="k-button-left"></div>
                <div class="k-button-body">
                    <a href="{{ path('admin_parties', { 'action': 'edit', 'id': entity.id }) }}">Править</a>
                </div>
                <div class="k-button-right"></div>
            </div>
            <div class="k-button k-button-small">
                <div class="k-button-left"></div>
                <div class="k-button-body">
                    <a href="{{ path('themes_index', { 'id': entity.id }) }}">Темы</a>
                </div>
                <div class="k-button-right"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% import 'GeekPartyBundle::macros.html.twig' as macros %}
{{ macros.button("Создать", path('admin_parties', { 'action': 'edit' })) }}

{% endblock %}
