{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}
{% import 'GeekPartyBundle::_projects/macros.html.twig' as projects %}

{% block title %} {{ parent() }} :: Редактирование проекта {% endblock %}

{% block main %}
    <div class="container">
        <div class="briefDescription">
            <p><a href="{{ path('project') }}">&larr; назад к списку</a></p>
            <h2 class="inlineBlock">Редактирование проекта</h2>

            <form id="teamEditorMain"
                  class="Form"
                  action="{%if new is not defined %}{{ path('project_update', { 'id': entity.id }) }}{% else %}{{ path('project_create') }}{% endif %}"
                  method="post" {{ form_enctype(edit_form) }}>
                <div>
                    <p>{{ current_party }}</p>
                    {{ form_errors(edit_form) }}
                    {{ form_widget(edit_form.id) }}

                    <div id="rightBorder">
                        <div class="teamEditorControlBlock">
                            <h3>Название проекта</h3>
                            {{ form_errors(edit_form.name) }}
                            <p class="inputLabel">Максисмум 30 символов</p>
                            {{ form_widget(edit_form.name) }}
                        </div>

                        <div class="teamEditorControlBlock">
                            <h3>Описание проекта</h3>
                            {{ form_errors(edit_form.description) }}
                            <p class="inputLabel"></p>
                            {{ form_widget(edit_form.description) }}
                        </div>

                        <div class="teamEditorControlBlock">
                            <h3>Подробное описание</h3>
                            {{ form_errors(edit_form.longDescription) }}
                            <p class="inputLabel"></p>
                            {{ form_widget(edit_form.longDescription) }}
                        </div>

                        {% if current_party.isCurrent or is_granted('ROLE_ADMIN') %}

                            <div class="teamEditorControlBlock">
                                <h3>Иконка</h3>
                                {% if new is not defined %}
                                    {{ projects.project_icon(entity) }}
                                {% endif %}
                                <p class="inputLabel">Размер иконки будет изменен на 120x110</p>
                                {{ form_widget(edit_form.icon) }}
                            </div>

                            <div class="teamEditorControlBlock">
                                <h3>ZIP-архив с Web-версией игры</h3>
                                <p class="inputLabel">Архив должен содержать работающую в браузере версию игры.
                                    В корне архива должен быть файл <span class="gdp-red">index.html</span>
                                    (он будет открываться в новом окне по ссылке "Играть" на странице игры).
                                    Размер архива не должен превышать <span class="gdp-red">50 Мб</span></p>
                                <p class="gdp-red">Будьте внимательны, архив должен содержать файл index.html в корне, а не внутри папки</p>

                                {{ form_widget(edit_form.file) }}
                            </div>

                            <div class="teamEditorControlBlock">
                                <h3>Ссылка на версию игры для Windows</h3>
                                {{ form_errors(edit_form.windowsBuild) }}
                                <p class="inputLabel"></p>
                                {{ form_widget(edit_form.windowsBuild) }}
                            </div>

                            <div class="teamEditorControlBlock">
                                <h3>Ссылка на версию игры для MacOS</h3>
                                {{ form_errors(edit_form.macBuild) }}
                                <p class="inputLabel"></p>
                                {{ form_widget(edit_form.macBuild) }}
                            </div>

                            <div class="teamEditorControlBlock">
                                <h3>Ссылка на версию игры для Linux</h3>
                                {{ form_errors(edit_form.linuxBuild) }}
                                <p class="inputLabel"></p>
                                {{ form_widget(edit_form.linuxBuild) }}
                            </div>

                        {% else %}

                            <div class="info-message">
                                Событие {{ current_party.name }} уже закончилось.
                                Чтобы обновить проект, обратитесь к администрации сайта:
                                <a href="mailto:{{ admin_email }}">{{ admin_email }}</a>
                            </div>

                        {% endif %}

                        <div class="gdp-form-footer">
                            {{ macros.submit("Сохранить") }}
                            {% if delete_form is defined %}
                                {{ macros.btn("Удалить", "k-red RemoveButton") }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div style="clear:both"></div>

                <!-- {{ form_rest(edit_form) }} -->
                {{ tinymce_init() }}
            </form>
            {% if delete_form is defined %}
                {{ form(delete_form, { 'attr': {'class': 'RemoveForm'} }) }}
            {% endif %}
        </div> <!-- teamEditorBlock -->
    </div> <!-- content -->
{% endblock %}

