{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}
{% import 'GeekPartyBundle::_projects/macros.html.twig' as projects %}

{% block title %} {{ parent() }} :: Редактирование проекта {% endblock %}

{% block main %}
    <div class="briefLine">
        <div class="briefImage">
            <img src="/img/team/edit_team.png" alt="edit" />
        </div>
        <div class="briefDescription">
            <p><a href="{{ path('project') }}">&larr; назад к списку</a></p>
            <h2 class="inlineBlock">Редактирование проекта</h2>

            <form id="teamEditorMain"
                  class="Form"
                  action="{%if new is not defined %}{{ path('project_update', { 'id': entity.id }) }}{% else %}{{ path('project_create') }}{% endif %}"
                  method="post" {{ form_enctype(edit_form) }}>
                <div>
                    {{ current_party }}
                    {{ form_errors(edit_form) }}
                    {{ form_widget(edit_form.id) }}

                    <div id="rightBorder">
                        <div class="teamEditorControlBlock">
                            <h3>Название проекта</h3>
                            <p class="inputLabel">Максисмум 30 символов</p>
                            {{ form_widget(edit_form.name) }}
                        </div>

                        <div class="teamEditorControlBlock">
                            <h3>Описание проекта</h3>
                            <p class="inputLabel"></p>
                            {{ form_widget(edit_form.description) }}
                        </div>

                        <div class="teamEditorControlBlock">
                            <h3>Подробное описание</h3>
                            <p class="inputLabel"></p>
                            {{ form_widget(edit_form.longDescription) }}
                        </div>

                        {% if current_party.isCurrent or is_granted('ROLE_ADMIN') %}

                        <div class="teamEditorControlBlock">
                            <h3>Иконка</h3>
                            {% if new is not defined %}
                                {{ projects.icon(entry) }}
                            {% endif %}
                            <p class="inputLabel">Размер иконки будет изменен на 120x110</p>
                            {{ form_widget(edit_form.icon) }}
                        </div>

                        <div class="teamEditorControlBlock">
                            <h3>ZIP-архив с игрой</h3>
                            <p class="inputLabel">Архив должен содержать файл <span class="k-red">index.html</span> в корне.
                                Размер архива не должен превышать <span class="k-red">50 Мб</span></p>
                            <p class="k-red">Будьте внимательны, архив должен содержать файл index.html в корне, а не внутри папки</p>

                            {{ form_widget(edit_form.file) }}
                        </div>

                        {% else %}

                            <div class="info-message">
                                Событие {{ current_party.name }} уже закончилось.
                                Чтобы обновить проект, обратитесь к администрации сайта:
                                <a href="mailto:{{ admin_email }}">{{ admin_email }}</a>
                            </div>

                        {% endif %}

                        <p>
                            {{ macros.submit("Сохранить") }}
                            {% if delete_form is defined %}
                                <div class="k-inline">
                                    {{ form_widget(delete_form) }}
                                </div>
                                {{ macros.submit("Удалить", "k-red") }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div style="clear:both"></div>

                <!-- {{ form_rest(edit_form) }} -->
                {{ tinymce_init() }}
            </form>
        </div> <!-- teamEditorBlock -->
    </div> <!-- content -->
{% endblock %}

