{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} :: Редактирование текстового блока {% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">

                <div class="gdp-header-row gdp-border">
                    <div class="gdp-header-row-body">
                        <img src="{{ asset("upd/img/icon-w.png") }}" />
                        <span><a href="{{ path('geek_party_admin_index') }}">Админка</a> | Текстовый блок ::
                            {% if entity.name == "index" %}
                                Главная страница
                            {% elseif entity.name == "about" %}
                                Страница "About"
                            {% elseif entity.name == "party" %}
                                Страница "Works"
                            {% else  %}
                                #{{  entity.id }} {{ entity.name }}
                            {% endif %}
                        </span>
                    </div>
                </div>

                <div class="gdp-entry-content">
                    <form action="{{ path('admin_text', { 'action': 'update', 'id': entity.id }) }}" method="post" {{ form_enctype (edit_form) }}>
                        {{ form_errors(edit_form) }}
                        {{ form_widget(edit_form.body) }}

                        <div class="gdp-form-footer">
                            {{ macros.submit("Сохранить") }}
                        </div>
                        <div class="hidden">
                            {{ form_rest(edit_form) }}
                        </div>
                    </form>

                    {{ tinymce_init() }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
