{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} GeekParty :: Список работ {% endblock %}

{% block main %}
<h1>Work list</h1>

<div>
    Фильтр: <select id="parties">
        <option>Все</option>
        {% for party in parties %} 
            <option value="{{ party.id }}">{{ party.id }}</option>
        {% endfor %}
    </select>
    <script type="text/javascript">
        $('#parties').change(function () {
            $('tbody tr').hide().filter('[data-party=' + $(this).val() + ']').show()
        })
    </script>
</div>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Source</th>
            <th>Width</th>
            <th>Height</th>
            <th>Party</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr data-party="{{entity.party.id}}">
            <td><a href="{{ path('admin_works', { 'action': 'edit', 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td><a href="{{ entity.source }}">URL</a></td>
            <td>{{ entity.width }}</td>
            <td>{{ entity.height }}</td>
            <td>{{ entity.party.id }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_works', { 'action': 'edit', 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_works', {'action': 'edit'}) }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
