{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} GeekParty :: Редактирование команды {% endblock %}

{% macro teamMember(member) %}

									<div class="memberRow borderBlock teamEditorEntry">
										<input class="deleteEntryButton" type="button" value="Удалить"/>
										<div class="teamEditorControlBlock">
											<h3>Имя</h3>
											<p class="inputLabel">Максимум 30 символов</p>
											<input class="participant" type="text" name="member[name][]" {%if member %}value="{{member.name}}"{%endif%}  maxlength="30"/>
										</div>
										
										<div class="teamEditorControlBlock">
											<h3>Skills</h3>
											<p class="inputLabel">Максимум 40 символов</p>
											<textarea class="participant" name="member[description][]" cols="22" rows="2"  maxlength="40">{% if member %}{{member.description}}{%endif%}</textarea>
										</div>
									</div>
{% endmacro %}

{% block main %}
    <div style="display:none" id="teamMemberTemplate">
        {{ _self.teamMember() }}
    </div>
    <script>
	var formIsChanged = false;

	var templateRow = function(id) {
		return '';
	}

	var removeRow = function(id) {
		$('#participantrow'+id).remove();
		formChanged();
	}

	var submitForm = function() {
		$('#teamEditorMain').submit();

		formIsChanged = false;
		validateChangeAlert();
	}

	var formChanged = function() {
		
		console.log("hello");
		
		formIsChanged = true;
		validateChangeAlert();
	}


	var memberTemplate
	var renderBlankMemberForm = function () {
		$('#regFormParticipants').append(memberTemplate.clone().addClass('new'))
	}

	var validateChangeAlert = function() {
		$('#saveTeamButton').toggle(formIsChanged)
		$('#teamEditorBotSave').toggle(formIsChanged)
	}
		
	$(document).ready(function(){
		memberTemplate = $('#teamMemberTemplate').find('.memberRow')

		// Кнопка удаления члена команды
		$(document).on('click', '.deleteEntryButton', function () {
			$(this).parents('.memberRow').remove()
		})

		// Изменение формы при изменении члена команды
		//$(document).on('change', '.memberRow input, .memberRow textarea, #teamEditorMain input, #teamEditorMain textarea', formChanged)
		$(document).on('change', '#teamEditorMain input, #teamEditorMain textarea', formChanged)

		// Изменение пустой формы
		$(document).on('change', '.memberRow.new input', function () {
			$(this).parents('.memberRow').removeClass('new')
			renderBlankMemberForm()
		})

		validateChangeAlert();

		$('#teamEditorMain input, #teamEditorMain textarea').change(formChanged);
		$('.submitTeamReg').click(submitForm);

		renderBlankMemberForm();
		
		$('#addNewParticipant').click(function() {
			renderBlankMemberForm();
			return false;
		});
	});
    </script>
						<div class="briefLine">
							<div class="briefImage">
								<img src="http://geekparty.ru/img/team/edit_team.png" alt="edit" />
							</div>
							<div class="briefDescription">
								<p><a href="{{ path('geek_people') }}">&larr; назад к списку команд</a></p>
								<h2 class="inlineBlock">Редактировать команду</h2>
								
								{% if entity.id %}
									<form class="inlineBlock" action="{{ path('team_delete', {'id': entity.id}) }}" method="post">
										{{ form_rest(delete_form) }}
										<input class="inlineBlock" id="deleteTeamWithH" type="submit" value="Удалить"/>
									</form>
								{% endif %}
								
								<br />
								<br />
								
								<form id="teamEditorMain" action="{%if entity.id %}{{ path('team_update', { 'id': entity.id }) }}{% else %}{{ path('team_create') }}{% endif %}" method="post" {{ form_enctype(edit_form) }}>
									<div id="teamEditorLeft">
										{% if entity.id %}
											<input type="hidden" name="id" value="{{entity.id}}"/>
										{% endif %}
										{{ form_errors(edit_form) }}
										
										<div id="rightBorder">
											<div class="teamEditorControlBlock">
												<h3>Имя команды</h3>
												<p class="inputLabel">Максисмум 30 символов</p>
												<!--<input type="text" name="name" id="name" maxlength="30"/> -->
												{{ form_widget(edit_form.name) }}
											</div>
											
											<div class="teamEditorControlBlock">
												<h3>Контакты капитана</h3>
												<p class="inputLabel">Скайп, e-mail, страница vk и т.п.</p>
												{{ form_widget(edit_form.contacts) }}
												<!--<input type="text" name="contacts" id="contacts" /> -->
											</div>
											
											<div class="teamEditorControlBlock">
												<h3>Описание команды</h3>
												<p class="inputLabel">Если вам не хватает в команду специалиста - укажите и он придет!</p>
												<p class="inputLabel">Максисмум 140 символов</p>
												{{ form_widget(edit_form.description) }}
												{{ textarea_tag('name2', 'default content', 'size=10x20') }}
												<!--<textarea name="member[description][]" cols="28" rows="5" maxlength="140"></textarea>-->
											</div>
											
											<div class="teamEditorControlBlock relativeDiv teamEditorBotSave">
												<input id="saveTeamButton" class="submitTeamReg teamButton" type="button" value=""/>
											</div>
										</div>
									</div>
									
									<div id="teamEditorRight">
										<h3><a href="#" id="addNewParticipant">Добавить участника</a></h3>
										<br />
										<div id="regFormParticipants">
											{% for member in entity.members %}
												{{ _self.teamMember(member) }}
											{% endfor %}
										</div>
									</div>
									<div style="clear:both"></div>

                                    {{ form_rest(edit_form) }}
								</form>
							</div> <!-- teamEditorBlock -->
					</div> <!-- content -->
{% endblock %}
