{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} GeekParty :: Редактирование команды {% endblock %}

{% macro teamMember(member) %}

									<table class="memberRow">
										<tbody>
											<tr>
												<th id="memberRowCol1"><p>Nickname</p></th>
												<th><p>skill, tools</p></th>
											</tr>
											<tr>
												<td valign="top">
													<input class="participant" type="text" name="member[name][]" {%if member %}value="{{member.name}}"{%endif%}/>
												</td>
												<td>
													<textarea class="participant" name="member[description][]" cols="28" rows="5">{% if member %}{{member.description}}{%endif%}</textarea>
												</td>
												<td>
													<input class="removeMember" type="button" value="Удалить" />
												</td>
											</tr>
										</tbody>
									</table>
{% endmacro %}

{% block main %}
    <div style="display:none" id="teamMemberTemplate">
        {{ _self.teamMember() }}
    </div>
    <script>
     var formIsChanged = false;

	var templateRow = function(id) {
		return '';
	}

	var removeRow = function(id) {
		$('#participantrow'+id).remove();
	}

	var submitForm = function() {
		$('#teamForm').submit();

		formIsChanged = false;
		validateChangeAlert();
	}

	var formChanged = function() {

		formIsChanged = true;
		validateChangeAlert();
	}


	var memberTemplate
	var renderBlankMemberForm = function () {
		$('#regFormParticipants').append(memberTemplate.clone().addClass('new'))
	}

	var validateChangeAlert = function() {
		$('#teamEditorTopSave').toggle(formIsChanged)
		$('#teamEditorBotSave').toggle(formIsChanged)
	}
		
	$(document).ready(function(){
		memberTemplate = $('#teamMemberTemplate').find('.memberRow')

		// Кнопка удаления члена команды
		$(document).on('click', '.removeMember', function () {
			$(this).parents('.memberRow').remove()
		})

		// Изменение формы при изменении члена команды
		$(document).on('change', '.memberRow input, .memberRow textarea', formChanged)

		// Изменение пустой формы
		$(document).on('change', '.memberRow.new input', function () {
			$(this).parents('.memberRow').removeClass('new')
			renderBlankMemberForm()
		})

		validateChangeAlert();

		$('#teamAttributes input').change(formChanged);
		$('.submitTeamReg').click(submitForm);

		renderBlankMemberForm()


		//less.watch();
	});
    </script>
	
						<div id="content">
							<div id="teamEditorBlock">
								<p><a href="{{ path('geek_people') }}">&larr; назад к списку команд</a></p>
							
								<form id="teamEditorForm"  action="{%if entity.id %}{{ path('team_update', { 'id': entity.id }) }}{% else %}{{ path('team_create') }}{% endif %}" method="post" {{ form_enctype(edit_form) }}>
									{% if entity.id %}
										<input type="hidden" name="id" value="{{entity.id}}"/>
									{% endif %}
									
									<h2>Управление командой</h2>
									{# Команда активна:<input type="checkbox" /> #}
									
									<div id="teamEditorTopSave">
										<span>Данные команды были изменены</span>
										<input class="submitTeamReg" type="submit" value="Сохранить"/>
									</div>
							
									<table id="teamAttributes">
										<tbody>
											<tr>
												<th>
													<p>Название</p>
												</th>
												<td>
													{{ form_widget(edit_form.name) }}
													<!--
													<input type="text" name="name" id="name" /> 
													<label for="name">Name</label> 
													-->
												</td>
											</tr>
											<tr>
												<th>
													<p>Описание</p>
												</th>
												<td>
													{{ form_widget(edit_form.description) }}
													<!--
													<input type="text" name="description" id="description" />  
													<label for="description">140</label> 
													-->
												</td>
											</tr>
											<tr>
												<th>
													<p>Контакты</p>
												</th>
												<td>
													{{ form_widget(edit_form.contacts) }}
													<!--
													<input type="text" name="contacts" id="contacts" />  
													<label for="contacts">Skype, вконтакте, и т.п.</label> 
													-->
												</td>
											</tr>
										</tbody>
										<tfoot>
										</tfoot>
									</table>
									
									<h2>Участники</h2>
									<div id="regFormParticipants">
										{% for member in entity.members %}
											{{ _self.teamMember(member) }}
										{% endfor %}
									</div>
									
									<div id="teamEditorBotSave">
										<span>Данные команды были изменены</span>
										<input class="submitTeamReg" type="submit" value="Сохранить"/>
									</div>
								</form>
							</div> <!-- teamEditorBlock -->
					</div> <!-- content -->
{% endblock %}
