{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} GeekParty :: Админка {% endblock %}

{% block main %}
    <div id="content">
        <h3>Текстовые блоки</h3>
        <ul>
            <li><a href="{{ path('admin_text', {'action': 'edit', 'id': indexText.id}) }}">Главная страница</a></li>
            <li><a href="{{ path('admin_text', {'action': 'edit', 'id': aboutText.id}) }}">About</a></li>
            <li><a href="{{ path('admin_text', {'action': 'edit', 'id': partyText.id}) }}">Работы</a></li>
        </ul>
        <h3>Управление сущностями</h3>
        <ul>
            <li><a href="{{ path('admin_parties') }}">Геймджемы</a></li>
            <li><a href="{{ path('PrismPollBundle_backend_poll_list') }}">Редактирование голосований</a></li>
            <li><a href="{{ path('PrismPollBundle_frontend_poll_list') }}">Результаты голосований</a></li>
        </ul>
    </div>
{% endblock %}
