{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block main %}

    <!-- INFO COLUMNS -->
    <div id="gdp-columns-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div id="gdp-columns">
                        <div class="col-md-4 col-xs-12">
                            <div class="gdp-column-header" id="gdp-column-q">
                                <span>Куда я попал?</span>
                            </div>
                            <div class="gdp-column-body">
                                <p>Здесь делают игры для удовольствия. Джем длится неделю, потом голосованием выбирается победитель. <a href="{{ path("geek_about") }}">Подробнее...</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="gdp-column-header" id="gdp-column-p">
                                <span>Где это происходит?</span>
                            </div>
                            <div class="gdp-column-body">
                                <p>В интернете, на русском языке. Можно участвовать из любой точки планеты. <a href="{{ path("geek_about") }}">Подробнее...</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="gdp-column-header" id="gdp-column-r">
                                <span>Хочу участвовать?</span>
                            </div>
                            <div class="gdp-column-body">
                                <p>Во время джема залей свою игру на сайт, и ты участник. Также играй в игры других, оценивай и комментируй. <a href="{{ path("geek_about") }}">Подробнее...</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- INFO COLUMNS -->


    <div class="container">
        <!-- NEWS -->
        <div class="row">
            <div class="col-md-12 col-xs-12">

                {% if text.body is not null %}
                    <div class="gdp-raw">
                        {{ text.body|raw }}
                    </div>
                {% endif %}

                <div class="gdp-header-row gdp-border">
                    <div class="gdp-header-row-body gdp-js-center">
                    <span>
                        Лента новостей&nbsp;
                        {% if is_authorised() %}
                            <a class="gdp-admin" href="{{ path("_edit_article", {"action":"edit"}) }}">[добавить новость]</a>
                        {% endif %}
                    </span>
                    </div>
                </div>


                {% for article in articles.entities %}
                    {% include 'GeekPartyBundle::article.html.twig' with {'entity':article, 'article_links': true} %}
                    {% if not loop.last %}
                        <div class="gdp-entry-separator"></div>
                    {% endif %}
                {% endfor %}

                {% include "@GeekParty/_comments/pagination.html.twig" with articles %}

            </div>
        </div> <!-- NEWS -->
    </div>

    {% include 'GeekPartyBundle::_comments/include_links.html.twig' %}
{% endblock %}
