{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block main %}
    <div id="content">
        <div id="firstline">
            <div id="brief">
                <div>
                    {% if text.body is not null %}
                        {{ text.body|raw }}
                    {% endif %}
                </div>

                <div class="News">
                    <h2 class="PullLeft">Новости</h2>
                    <div class="PullRight">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ macros.button('Добавить новость', path("_edit_article", {"action":"edit"})) }}
                        {% else %}
                            {{ macros.button('Войти', null, 'facebook-login') }}
                            <i class="l facebook-wait"></i>
                        {% endif %}
                    </div>
                    <div class="Clear"></div>
                    <ul class="NewsList">
                    {% for article in articles %}
                        <li class="NewsArticle">
                            <h3>{{ article.title }}</h3>
                            <div>
                                {{ article.body|purify }}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div> <!-- brief -->
        </div> <!-- firstline -->
    </div> <!-- content -->
{% endblock %}
