{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} GeekParty :: Участники {% endblock %}

{% block main %}
				<!--
					<table>
						<thead>
							<tr>
								<td>twitter</td>
								<td>city</td>
								<td>code</td>
								<td>gfx</td>
								<td>sfx</td>
								<td>gd</td>
								<td>skills</td>
							</tr>
						</thead>
						<tbody>
							{% for item in people %}
								<tr>
									<td>{{ item.twitter }}</td>
									<td>{{ item.city }}</td>
									<td>{{ item.code ? 'X' : '' }}</td>
									<td>{{ item.gfx ? 'X' : '' }}</td>
									<td>{{ item.sfx ? 'X' : '' }}</td>
									<td>{{ item.gd ? 'X' : '' }}</td>
									<td>{{ item.skills }}</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="7">Пока никого нет</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				-->
				<div id="content">
					<div class="entryPadding">
						<div class="briefLine">
							<div class="briefImage">
								<img src="./img/icon_rule.png" alt="rule" />
							</div>
							<div class="briefDescription">
								<h2>Участие</h2>
								<p>Принять участие в Гик-пати легко. Определитесь с гик-профилем (художник, кодер, дизайнер), напишите на <a href="mailto:geekparty.ru@gmail.com">geekparty.ru@gmail.com</a> (тема "Гик-пати №3") ваше имя гик-профиль, а также основной вид скиллов (С++, Photoshop, Maya и т.п.). Если вы знаете Unity, укажите это отдельно. Вам в ответ придет подтверждение о регистрации.</p>
								<p>Ждем всех, кто творит в цифре, от новичка до гуру. Это:</p>
								<ul class="briefList">
									<li>Моделлеры 3D и аниматоры (max, maya и т.д.)</li>
									<li>Художники</li>
									<li>Программеры</li>
									<li>Дизайнеры (флэш, хтмл, видео, геймдизайн, сценарии)</li>
									<li>Звуковики (композиторы, звукорежиссеры)</li>
								</ul>
								<p><span class="orange">ВНИМАНИЕ!</span> Приходите со СВОИМ НОУТБУКОМ (планшетом, миди-клавой, или что вам надо для отжига), на котором стоит нужный софт / framework. Также не забудьте взять мышь. Если вы придете с пустыми руками, то с очень большой вероятностью останетесь без орудий труда и перейдете в разряд наблюдателей.</p>
								<p>Если вы не собираетесь принимать участие в создании игр, но хотите посмотреть как это выглядит, то регистрироваться через имейл необязательно. Наличие сидячих мест и свободных столов в этом случае не гарантированно, однако можно будет выпить стаканчик у стойки бара, позаглядывать в мониторы пребывающих в цифровой нирване гиков.</p>
								<p>Особое предпочтение гостям:</p>
								<ul class="briefList">
									<li>Блоггерам (с условием написать пост про GeekParty)</li>
									<li>Фотографам (зафотать событие)</li>
									<li>Симпатичным девушкам (встретить своего Цукерберга, ну или просто порадовать гиков своей улыбкой :)</li>
								</ul>
							</div>
						</div>
						<div class="briefLine">
							<div class="briefImage">
								<img src="./img/icon_rule.png" alt="rule" />
							</div>
							<div class="briefDescription">
								<h2>Участие онлайн - coming soon!</h2>
								<p>Главный штаб Гик-пати находиться в Санкт-Петербурге, где обитают организаторы. Однако в скором времени на сайте появится возможность регистрировать штабы в любом другом городе и приглашать в них людей. В Гик-пати можно будет участвовать удаленно, как сидя у себя дома одному, так и зарегистрировав свой штаб в любом месте: в кафе, в коворкинг-центре, на квартире друга, на подводной лодке.</p>
								<p>Единственное необходимое условие для удаленного участия: у вас должна быть настроена видео трансляция из места, где вы жжоте, чтобы мы могли организовать на сайте телемост в режиме реального времени со всеми штабами. Одному творить, конечно, хорошо, но гораздо веселее и полезнее это делать в кругу единомышленников.</p>
								<p>Скоро мы реализуем возможность участвовать в Гикпати удаленно из любой точки планеты. Следите за анонсами.</p>
							</div>
						</div>
					</div>
				</div> <!-- content -->
{% endblock %}
