{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} {{ parent() }} :: Участники {% endblock %}

{% block main %}
				<div id="content">
					<div class="briefLine">
						<div class="briefImage">
							{% image '@GeekPartyBundle/Resources/public/img/icon_rule.png' %}
								<img src="{{ asset_url }}" alt="rule" />
							{% endimage %}
						</div>
						<div class="briefDescription">
							<h2>Участие</h2>
							<p>Работа на Гик-пати идет в командах. Ниже вы можете создать свою собственную команду или присоединиться к уже существующей. Так же, вы сможете вписаться в команду прямо на пати, главное прийти.</p>
							<p>Создав команду, вы сможете добавлять / удалять участников. Не бойтесь создавать команду, если что-то пойдет не так, вы всегда сможете ее удалить в один клик. Если вам в команде не хватает какого-либо специалиста, в описании пометьте: “ищем еще художников”, или “нужны программеры, пишите”. Обязательно оставьте контакты, по которым с вами смогут связаться организаторы или другие участники пати, которые захотят к вам в команду.</p>
							<p>Если вы хотите отжигать один, то можете создать команду из 1-ого человека, и в описании отметить: "работаю один".</p>
						</div>
					</div>
					
					<div class="briefLine">
						<div class="briefImage">
							{% image '@GeekPartyBundle/Resources/public/img/create_team.png' %}
								<img src="{{ asset_url }}" alt="edit" />
							{% endimage %}
						</div>
						<div class="briefDescription">
						<h2>Команды</h2>
						<div id="createTeam">
							{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
								Чтобы создать команду и загрузить работу, войдите через фейсбук: 
                                <button class="btn facebook-login"><i class="icon-fb"></i> Войти</button>
                                <i class="l facebook-wait"></i>
							{% else %}
								<p>Привет, {{ app.user.firstname }} {{ app.user.lastname }}
									<form class="form-inline" method="post" action="{{ path('fos_user_security_logout') }}">
										<input type="submit" class="btn" value="Выйти"/>
									</form>
								</p>
								{% if team %}
									<h2><a href="{{ path('team_edit', {'id':team.id}) }}">Редактировать мою команду</a></h2>
                                    {% if works %}
                                        {% for work in works %}
                                            <h2><a href="{{ path('project_edit', {'id':work.id}) }}">Редактировать работу {{ work.id }}</a></h2>
                                        {% endfor %}
                                    {% endif %}
                                    <h2><a href="{{ path('project_new') }}">Загрузить новую работу</a></h2>
								{% else %}
									<h2><a href="{{ path('team_new') }}">Создать команду</a></h2>

                                    <p>Чтобы загрузить работу, сначала создайте команду</p>
								{% endif %}
							{% endif %}
						</div>
						
						<table id="participantsTable" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<th id="participantsTableRowName">
										<h3>Имя</h3>
									</th>
									<th id="participantsTableRowDescription">
										<h3>Описание</h3>
									</th>
									<th id="participantsTableRowTeam">
										<h3>Состав</h3>
									</th>
									<th id="participantsTableRowContacts">
										<h3>Контакты</h3>
									</th>
								</tr>
							</thead>
							<tbody>
							{% for team in teams %}
								<tr>
									<td>
										<p>{{ team.name }}</p>
										{% if is_granted('ROLE_ADMIN') %}
											<a href="{{ path('team_edit', {'id':team.id}) }}"><i class="icon-edit icon-white"></i></a>
										{% endif %}
									</td>
									<td>
										<p>{{ team.description }}</p>
									</td>
									<td>
										{% for member in team.members %}
										<p><span class="orange">{{ member.name }}</span> &nbsp;:&nbsp; {{ member.description }}</p>
										{% endfor %}
									</td>
									<td>
										<p>{{ team.contacts }}</p>
										<!--<p>skype: <a href="">nulldivide</a></p>
										<p>email: <a href="">nulldivide</a></p>-->
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4" style="text-align: center"><p>Пока никого нет</p></td>
								</tr>
							{% endfor %}
							</tbody>
						</table> <!-- participantsTable -->
						</div> <!-- briefDescription -->
					</div> <!-- briefLine -->
					

					<div class="briefLine">
						<div class="briefImage">
							{% image '@GeekPartyBundle/Resources/public/img/icon_rule.png' %}
								<img src="{{ asset_url }}" alt="rule" />
							{% endimage %}
						</div>
						<div class="briefDescription">
							<h2>Вход для гостей</h2>
							<p>Если вы не регистрировались, но хотите повтыкать на происходящее, - приходите. Наличие сидячих мест и свободных столов не гарантированно, однако можно будет выпить стаканчик у стойки бара, позаглядывать в мониторы пребывающих в цифровой нирване гиков.</p>
							<p>Особое предпочтение гостям:</p>
							<ul class="briefList">
								<li>Блоггерам (с условием написать пост про GameDevParty)</li>
								<li>Фотографам (зафотать событие)</li>
								<li>Симпатичным девушкам (встретить своего Цукерберга, ну или просто порадовать гиков своей улыбкой :)</li>
							</ul>

						</div>
					</div>
				</div> <!-- content -->
{% endblock %}
