{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} GeekParty :: Работы {% endblock %}

{% block main %}

    <a href="/works/gp1">GP1</a>
    <a href="/works/gp2">GP2</a>
				<div class="content">
					<h2>Работы участников</h2>
					<div id="entries">
                        {% for entry in works[party] %}
						<div class="entry">
							<div class="entryPadding borderBlock">
								<h2>{{ entry.name }}</h2>
								<div class="entryLeftBar">
									<div style="width:119px;height:110px;background:url('/img/{{ party }}/{{ entry.id }}.png')"></div>
									<a class="playGame" href="/works/{{ party }}/{{ entry.id }}"><span class="playLabel">Play</span></a>
                                    <!-- COMMENTS --> <a href="/works/{{ party }}/{{ entry.id }}#disqus_thread">Link</a>
								</div>
								<div class="entryRightBar">
									<div class="entryDescription">
										<p>{{ entry.description }}.</p>
									</div>

									<table cellspacing="0" cellpadding="0" class="credits">
                                        {% if entry.source is defined %}
                                            <tr>
                                                <td class="detail">Source:</td>
                                                <td class="description"><a href={{ entry.source }}"">{{ entry.source }}</a></td>
                                            </tr>
                                        {% endif %}
                                        {% if entry.authors is defined %}
                                            <tr>
                                                <td class="detail">Authors:</td>
                                                <td class="description">
                                                    {% for author in entry.authors %}
                                                        <a href="{{ author.url }}">{{ author.name }}</a>&nbsp;
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endif %}
									</table>
								</div>
							</div>
						</div> <!-- entry -->
                        {% else %}
                            Работ пока нет
                        {% endfor %}
					</div> <!-- entries -->	
				</div> <!-- content -->
    <!-- DISQUS -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'geekparty'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock %}
