{% macro project_icon_url(entry) %}
    /works/{{ entry.party.id|url_encode }}/{{ entry.id }}_icon.png
{% endmacro %}

{% macro project_icon(entry) %}
    {% import _self as self %}
    <img src="{{ self.project_icon_url(entry) }}" alt="{{ entry.name }}"/>
{% endmacro %}

{% macro project_block(entry, current_user) %}
    {% import 'GeekPartyBundle::_comments/macros.html.twig' as comments %}
    {% import _self as self %}

    {% set partyId = entry.party is not null ? entry.party.id : null %}
    {% set entryPage = path('geek_browse_work', { party: partyId, work: entry.id }) %}
    <div class="k-entry-block">
        <div class="row">
            <h4><a href="{{ entryPage }}">{{ entry.name }}</a></h4>
            <div class="col-md-4 col-xs-4">
                <a href="{{ entryPage }}" class="k-img-link">
                    <img
                            style="width:110px;height:110px;"
                            src="{{ self.project_icon_url(entry) }}" alt="{{ entry.name }}"
                            class="img-rounded k-img-border">
                    <span class="k-img-play"></span>
                </a>
            </div>

            <div class="col-md-8 col-xs-8">
                <p>{{ entry.description }}.</p>
                <a href="{{ entryPage }}">Подробнее</a>
                {% if (entry.author == current_user or is_granted('ROLE_ADMIN')) and current_user is not null %}
                    <a href="{{ path('project_edit', {'id': entry.id}) }}" class="Special">Редактировать</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
            {% if entry.party.ended %}
                <div class="ProjectVote VoteResult">
                    <div class="ProjectStar">
                        {% set rating = calculate_project_rating(entry) %}
                        <div class="ProjectStarInner"
                             style="width: {{ 32.0 * rating }}px" title="{{ rating }}">&nbsp;</div>
                    </div>
                </div>
                <div class="VoteTextResult">{{ rating|round(1)|number_format(1) }}</div>
            {% endif %}
            {{ comments.projectLink(entry) }}
            </div>
        </div>
    </div>
{% endmacro %}