{% macro project_icon_url(entry) %}/works/{{ entry.party.id|url_encode }}/{{ entry.id }}_icon.png{% endmacro %}

{% macro project_icon(entry) %}
    {% import _self as self %}
    <img src="{{ self.project_icon_url(entry) }}" alt="{{ entry.name }}"/>
{% endmacro %}

{% macro project_url(entry) %}
    {% set partyId = entry.party is not null ? entry.party.id : null %}
    {{ path('geek_browse_work', { party: partyId, work: entry.id }) }}
{% endmacro %}

{% macro project_block(entry, current_user, show_rating) %}
    {% import 'GeekPartyBundle::_comments/macros.html.twig' as comments %}
    {% import _self as self %}

    {% set entryPage = self.project_url(entry) %}

    <div class="gdp-work gdp-border">
        <div class="gdp-work-header">
            <p class="gdp-work-name"><a href="{{ entryPage }}">{{ entry.name }}</a></p>

            {% set userPage = entry.author ? path('geek_party_user_show', { id: entry.author.id }) : '' %}
            {% set userName = entry.author ? entry.author.fullname : 'UFO' %}

            <p class="grp-work-author">
                by <a {% if entry.author %}href="{{ userPage }}"{% endif %}>{{ userName }}</a>
                @{{ format_date(entry.time) }}
            </p>

        </div>
        <div class="gdp-work-sidebar">
            <div class="gdp-work-image-holder">
                <img
                        src="{{ self.project_icon_url(entry) }}" alt="{{ entry.name }}"
                        class="gdp-work-image">
            </div>

            {% if show_rating %}
                {{ _self.rating(entry) }}
            {% endif %}
        </div>
        <p>{{ entry.description }}</p>

        <div class="clearfix"></div>
        <div class="gdp-entry-footer pull-right">
            <a href="{{ entryPage }}" class="gdp-link-more">Читать дальше</a>
            <a href="{{ entryPage }}#comments" class="gdp-link-comments">Комментарии ({{ entry.comments|length }})</a>
            {% if (entry.author == current_user or is_admin()) and current_user is not null %}
                <a href="{{ path('project_edit', {'id': entry.id}) }}" class="gdp-admin">Редактировать</a>
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
{% endmacro %}

{% macro rating(entry) %}
    {% if entry.party.ended or is_admin() %}
        {% if entry.party.hasUserRating %}
            {% set userRating = calculate_project_rating(entry, true) %}
            <div class="gdp-rating gdp-user-rating">
                <div class="gdp-rating-back"></div>
                <div class="gdp-rating-front"
                        style="width: {{ 23.6 * userRating }}px" title="Пользовательский рейтинг: {{ userRating|round(1)|number_format(1) }}"></div>
                {% if is_winner(entry, true) %}
                    <span>#1</span>
                {% endif %}
            </div>
        {% endif %}

        {% set rating = calculate_project_rating(entry) %}
        <div class="gdp-rating">
            <div class="gdp-rating-back"></div>
            <div class="gdp-rating-front"
                    style="width: {{ 23.6 * rating }}px" title="Рейтинг участников: {{ rating }}"></div>
            <span>{{ rating|round(1)|number_format(1) }}</span>
        </div>
    {% endif %}
{% endmacro %}